body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 30px;
    text-align: center;
}

h2 {
    color:#333;
}

/* style form  */

form {
    background-color:white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:rgb(40, 104, 178);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    box-shadow:none;
    display: inline-block; 
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color:rgb(40, 104, 178);
    color: white;
}


p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

